<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h1>Dodaj recept</h1>
      <p><ion-icon name="close-circle-outline" (click)="dismiss()"></ion-icon></p>
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea label="Naziv" placeholder="Unesite naziv jela" [(ngModel)]="recipeNaziv"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea label="Opis" placeholder="Unesite recept" [(ngModel)]="recipeOpis"></ion-textarea>
      </ion-item>
      <!--Ovde kako bi za sliku-->

      <ion-item>
        <ion-select label="Tezina" placeholder="Izaberite tezinu" [(ngModel)]="recipeTezina">
          <ion-select-option value="Lako">Lako</ion-select-option>
          <ion-select-option value="Srednje">Srednje</ion-select-option>
          <ion-select-option value="Teško">Teško</ion-select-option>
        </ion-select>
      </ion-item>

      

      <ion-item>
        <ion-button expand="full" (click)="addRecipe()">Dodaj recept</ion-button>
      </ion-item>
      <!--Ovde kao za omiljen nesto-->
    </ion-card-content>
  </ion-card>

</ion-content>
